In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("train.csv")

In [29]:
df[:4]

,merchant_id,month_id,merchant_source_name,settlement_period,working_type,mcc_id,merchant_segment,net_payment_count
0,merchant_43992,202307,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,15106
1,merchant_43992,202301,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,16918
2,merchant_43992,202305,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,13452
3,merchant_43992,202308,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,16787

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291142 entries, 0 to 291141
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   merchant_id           291142 non-null  object
 1   month_id              291142 non-null  int64
 2   merchant_source_name  291142 non-null  object
 3   settlement_period     291142 non-null  object
 4   working_type          291142 non-null  object
 5   mcc_id                291142 non-null  object
 6   merchant_segment      291142 non-null  object
 7   net_payment_count     291142 non-null  int64
dtypes: int64(2), object(6)
memory usage: 17.8+ MB

In [31]:
df["date"] = pd.to_datetime(df["month_id"],format="%Y%m")

In [32]:
df["year"]=df["date"].dt.year
df["month"]=df["date"].dt.month

In [33]:
df.drop(["month_id","date"],axis=1,inplace=True)

In [34]:
df[:4]

,merchant_id,merchant_source_name,settlement_period,working_type,mcc_id,merchant_segment,net_payment_count,year,month
0,merchant_43992,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,15106,2023,7
1,merchant_43992,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,16918,2023,1
2,merchant_43992,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,13452,2023,5
3,merchant_43992,Merchant Source - 3,Settlement Period - 3,Working Type - 2,mcc_197,Segment - 2,16787,2023,8

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291142 entries, 0 to 291141
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   merchant_id           291142 non-null  object
 1   merchant_source_name  291142 non-null  object
 2   settlement_period     291142 non-null  object
 3   working_type          291142 non-null  object
 4   mcc_id                291142 non-null  object
 5   merchant_segment      291142 non-null  object
 6   net_payment_count     291142 non-null  int64
 7   year                  291142 non-null  int64
 8   month                 291142 non-null  int64
dtypes: int64(3), object(6)
memory usage: 20.0+ MB

In [41]:
for column in df.select_dtypes(include="object").columns:
    print("COLUMN:",column)
    print(df[column].unique())
    print("\n")

COLUMN: merchant_id
['merchant_43992' 'merchant_47611' 'merchant_40801' ... 'merchant_11346'
 'merchant_21397' 'merchant_66895']


COLUMN: merchant_source_name
['Merchant Source - 3' 'Merchant Source - 2' 'Merchant Source - 1']


COLUMN: settlement_period
['Settlement Period - 3' 'Settlement Period - 1' 'Settlement Period - 2']


COLUMN: working_type
['Working Type - 2' 'Working Type - 6' 'Working Type - 5'
 'Working Type - 3' 'Working Type - 4' 'Working Type - 1']


COLUMN: mcc_id
['mcc_197' 'mcc_80' 'mcc_135' 'mcc_38' 'mcc_55' 'mcc_188' 'mcc_168'
 'mcc_1' 'mcc_177' 'mcc_126' 'mcc_42' 'mcc_195' 'mcc_35' 'mcc_85' 'mcc_28'
 'mcc_132' 'mcc_169' 'mcc_185' 'mcc_112' 'mcc_56' 'mcc_161' 'mcc_130'
 'mcc_110' 'mcc_24' 'mcc_96' 'mcc_73' 'mcc_65' 'mcc_144' 'mcc_68' 'mcc_76'
 'mcc_162' 'mcc_117' 'mcc_143' 'mcc_74' 'mcc_54' 'mcc_93' 'mcc_7'
 'mcc_166' 'mcc_106' 'mcc_160' 'mcc_83' 'mcc_109' 'mcc_46' 'mcc_77'
 'mcc_174' 'mcc_194' 'mcc_64' 'mcc_40' 'mcc_153' 'mcc_116' 'mcc_20'
 'mcc_2' 'mcc_100' 'mcc_87' 'mcc_9' 'mcc_60' 'mcc_147' 'mcc_29' 'mcc_5'
 'mcc_10' 'mcc_18' 'mcc_187' 'mcc_138' 'mcc_33' 'mcc_53' 'mcc_71'
 'mcc_152' 'mcc_131' 'mcc_88' 'mcc_89' 'mcc_90' 'mcc_145' 'mcc_104'
 'mcc_52' 'mcc_70' 'mcc_151' 'mcc_155' 'mcc_50' 'mcc_128' 'mcc_63'
 'mcc_23' 'mcc_125' 'mcc_120' 'mcc_92' 'mcc_51' 'mcc_172' 'mcc_81'
 'mcc_115' 'mcc_189' 'mcc_4' 'mcc_61' 'mcc_19' 'mcc_154' 'mcc_31'
 'mcc_184' 'mcc_94' 'mcc_107' 'mcc_78' 'mcc_121' 'mcc_86' 'mcc_22'
 'mcc_179' 'mcc_34' 'mcc_21' 'mcc_25' 'mcc_165' 'mcc_67' 'mcc_26'
 'mcc_190' 'mcc_141' 'mcc_157' 'mcc_45' 'mcc_3' 'mcc_127' 'mcc_44'
 'mcc_113' 'mcc_175' 'mcc_108' 'mcc_167' 'mcc_11' 'mcc_36' 'mcc_176'
 'mcc_6' 'mcc_39' 'mcc_13' 'mcc_48' 'mcc_30' 'mcc_180' 'mcc_101' 'mcc_14'
 'mcc_122' 'mcc_12' 'mcc_193' 'mcc_43' 'mcc_164' 'mcc_114' 'mcc_156'
 'mcc_183' 'mcc_57' 'mcc_66' 'mcc_95' 'mcc_58' 'mcc_137' 'mcc_150'
 'mcc_102' 'mcc_16' 'mcc_47' 'mcc_196' 'mcc_149' 'mcc_79' 'mcc_170'
 'mcc_148' 'mcc_173' 'mcc_134' 'mcc_133' 'mcc_178' 'mcc_163' 'mcc_49'
 'mcc_82' 'mcc_124' 'mcc_84' 'mcc_118' 'mcc_171' 'mcc_72' 'mcc_192'
 'mcc_37' 'mcc_59' 'mcc_186' 'mcc_69' 'mcc_27' 'mcc_15' 'mcc_98']


COLUMN: merchant_segment
['Segment - 2' 'Segment - 3' 'Segment - 4' 'Segment - 1']